<!DOCTYPE html>
<html lang="en">
<head>
<style>
#menu{
height:40px;
}
#menu ul{
list-style-type:none;
}
#menu li{
float:left;
margin-left:5px;
}
#menu a:link{
display:block;
border:1px solid;
}
#navigation,#content{
float:left;
border:1px dotted;
}
</style>
<title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
 <div id="menu"><ul>
<li><a href="#">{{home}}</a></li>
<li><a href="search_word.html">{{word_search}}</a></li>
<li><a href="#">{{text_view}}</a></li>
<li><a href="#">{{word_test}}</a></li>
<li><a href="#">{{about_us}}</a></li>
</ul> </div>
<div style="clear:left"></div>
<div>
	<div id="navigation">
	{%  block navigation%}{% endblock %}
	</div>
    <div id="content">
        {% block content %}Test_content{% endblock %}
    </div>
</div>
	</body>
</html>